:root{
	--left:left;
	--right:right;
	--font:1px;
	--relative:relative;
	--absolute:absolute;
}
.sqlserver{
	& .ivu-form-item-content{
		display: inline-block;
	}
	& input{
		border-radius: calc(var(--font) *5);
    		border: 1px solid gray;
	}
	& .ivu-form-item{
		display: inline-block;
		margin-bottom:calc(var(--font)*15);
	}
	& .sqlserver-password{
		margin-left:calc(var(--font)*11);
	}
	& .user-input{
		margin-left:calc(var(--font)*12);
	}
	/*& .password-input{
		margin-left:calc(var(--font)*11);
	}*/
	& .selection{
		margin-left:calc(var(--font)*25);
	}
	& .sqlserver-btn{
		margin-top:calc(var(--font)*11);
		& .ivu-modal-header{
			border-bottom:none;
		}
		& .ivu-modal-body{
			display: none;
		}
		& .ivu-modal-footer{
			border-top:none;
		}
	}
	& .sqlserver-table{
		margin-top:calc(var(--font)*15.5);
		& .instanceTable{
			max-height:185px;
			overflow: auto;
		}
	}
	
}
